@import './Character.scss';
@import './CharacterSheet.scss';

// Styling the Body Element
body {
    background-color: #05c46b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}